<dom-module id='fsn-public-messaging'>
  <template>
  <style include='view-styles'></style>
  <style include='houseme-styles'></style>

  <style>
    :host {
      display: block;
    }

    img {
      width: 30px;
      border-radius: 50%;
      margin-right:10px;
    }

    paper-item {
      padding: 15px;
    }

    paper-card {
      padding:0;
      margin-top: 30px;
      width: 100%;
    }

    #hero {
      background: var(--blue);
      padding: 30px;
      margin-top: 30px;
    }

    copy6 {
      word-break: break-all;
    }

    #hero fsn-messaging-input {
      margin-top:30px;
      --host-background: rgba(255,255,255,0.3);
      --button-background: white;
      --button-text: var(--blue);
    }

    iron-list {
      @apply(--layout-fit);
    }

    iron-list {
     --iron-list-items-container: {
        margin: auto;
        position: relative;
      };
    }


    section {
      background: rgba(0,0,0,0.1);
      padding-top: 15px;
      padding-left: 10px;
    }

  </style>

    <div hidden$=[[loggedIn]] class='warning layout center'>
      <hero1 white>Please <a href='/signup'>log in or sign up</a> to start looking for roommates.</hero1>
    </div>

    <div hidden$=[[!loggedIn]]>
      <div hidden$=[[user.profile.active]] class='warning layout center'>
        <hero1>Please fill in <a href='/profile'>your profile</a> to start looking for people.</hero1>
      </div>
    </div>

    <template is='dom-if' if=[[user.profile.active]]>
      <section>

        <iron-scroll-threshold on-lower-threshold='loadMoreData'>
          <iron-list items=[[publicMessages]]>
            <template>

              <div class='container'>
                <paper-card elevation='1' id='hero' hidden$=[[!isFirst(index)]]>
                  <h1 text-center white>Start a new conversation</h1>
                  <fsn-messaging-input></fsn-messaging-input>
                </paper-card>

                <paper-card elevation='2'>

                  <template id='messages' is='dom-repeat' items=[[limitMessages(item.messages.*)]]>
                    <paper-item>
                      <img src='http://graph.facebook.com/[[getImage(item.fromUserId)]]/picture?type=square' />
                      <copy6><strong>[[getName(item.fromUserId)]]</strong> [[item.content]]</copy6>
                    </paper-item>
                  </template>

                  <section hidden$=[[hasManyMessages(item.messages)]]>
                    <paper-button on-tap='loadFullConversation'>Load entire conversation</paper-button>
                  </section>
                  <fsn-messaging-input small chat-id=[[item._id]]></fsn-messaging-input>
                </paper-card>
              </div>
            </template>
          </iron-list>
        </iron-scroll-threshold>

      </section>
    </template>

  </template>
</dom-module>



<script>
  require('@polymer/polymer/polymer.html');

  require('@polymer/iron-list/iron-list.html');
  require('@polymer/iron-scroll-threshold/iron-scroll-threshold.html');

  require('@polymer/paper-button/paper-button.html');
  require('@polymer/paper-card/paper-card.html');
  require('@polymer/paper-item/paper-item.html');


  require('@andreasgalster/fsn-messaging-input/dist/fsn-messaging-input.html');
  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');
  require('@andreasgalster/fsn-icons/dist/fsn-icons.html');


  Polymer({
    is: 'fsn-public-messaging',
    behaviors:[mwcMixin],
    properties: {
      user: {
        type: Object
      },
      publicMessages: {
        type: Array,
        observer: 'clearScroll'
      },
      loggedIn: {
        type: Boolean
      },
      limiter: {
        type: Number,
        value: 8,
        observer: 'subscribeData'
      }
    },

    // Subscribe to data. Once data is ready, set dynamic meta tags
    subscribeData: function() {
      this.subscribe('usersTeaserAll');
      this.subscribe('PublicMessages', this.limiter);
    },
    clearScroll: function() {
      console.log('clearing scroll');
      if(this.$$('iron-scroll-threshold')) {
        this.$$('iron-scroll-threshold').clearTriggers();
      }
    },

    hasManyMessages: function(messages) {
      return messages.length < 4;
    },


    loadFullConversation: function(e) {
      e.model.set('item.messages.limit', 1000);

      // Tell list to resize to fit the expanded card
      this.$$('iron-list').notifyResize();
    },
    limitMessages: function(change) {
      const limit = (change.path === 'item.messages.limit') ? change.value : 3;
      return change.base.slice(0, limit);
    },



    isFirst: function(index) {
      return index == 0;
    },
    loadMoreData: function() {
      console.log('scroll end');
      this.limiter += 8;
    },
    tracker: function() {
      this.publicMessages = PublicMessages.find({},{sort: {dateCreated: -1}}).fetch();

      var user = Meteor.user();
      this.user = user;
      this.loggedIn = (user != null);
      this.users = Meteor.users.find().fetch();
    },
    sendMessage: function(e) {
      this.otherUserId = e.model.item._id;
    },
    getImage: function(fromUserId) {
      var user = Meteor.users.findOne({ _id: fromUserId });
      // console.log(user);
      return user.services.facebook.id;
    },
    getName: function(fromUserId) {
      var user = Meteor.users.findOne({ _id: fromUserId });
      return user.services.facebook.first_name;
    }

  });

</script>
