<dom-module id='profile-forms'>
  <template>
  <style include='houseme-styles'></style>
  <style>
      :host {
        padding: 30px;
      }

  		section {
  			margin-bottom: 100px;
  		}

      #last {
  			margin-bottom: 40px;
  		}

  		h1 {
  			color: var(--blue);
  			font-size: 34px;
  			font-weight: 300;
  		}

  		p {
  			font-size: 16px;
  			font-weight: 500;
  		}

  		.perk {
  			border-bottom: #c4c4c4;
  		}


  		input {
		    border-radius: 0;
		    padding: 22px 16px;
		    font-size: 16px;
		    font-weight: 300;
  		}

  		input:focus {
  			border: 1px solid var(--blue);
  		}

      div[suffix] {
        margin-right: 0px;
      }

      paper-toast {
        background: var(--blue);
        color: white;
        font-size: 16px;
        padding: 25px;
      }
    </style>

		<section>
			<h1>Profile introduction</h1>
      <paper-textarea
        value={{user.introduction}}
        class='validate'
        placeholder='Tell us in less than 200 characters about yourself.'
        char-counter maxlength='200'
        required>
      </paper-textarea>
		</section>

		<section id='last'>
			<h1>Basic profile</h1>
      <fsn-places-autocomplete
        value={{user.details.moving_to}}
        class='validate'
        label='Desired city'
        placeholder='Where do you want to move?'
        required>
      </fsn-places-autocomplete>

      <paper-input
        value={{user.details.maximum_budget}}
        class='validate'
        label='Maximum budget'
        placeholder='What’s your maximum budget?'
        allowed-pattern='[0-9]'
        min='3000'
        max='150000'
        minlength='4'
        maxlength='6'
        required>
        <div suffix>₱</div>
      </paper-input>

      <fsn-datepicker-input
        value={{user.details.move_in_date}}
        class='validate'
        label='Move in date'
        placeholder='When do you want to move in?'
        required
      ></fsn-datepicker-input>

      <paper-input
        value={{user.details.duration_of_stay}}
        class='validate'
        label='Duration of stay'
        placeholder='How long do you want to stay?'
        allowed-pattern='[0-9]'
        minlength='1'
        maxlength='2'
        required>
        <div suffix>months</div>
      </paper-input>
		</section>

		<!-- <section id='last'>
			<h1>Your preferences</h1>
			<p>Tell us about your preferences so you can find the perfect roommates.</p>

      <fsn-yesno-button checked={{user.perks.messy}} value=''>Are you messy?</fsn-yesno-button>
      <fsn-yesno-button checked={{user.perks.smoker}} value=''>Are you a smoker?</fsn-yesno-button>
      <fsn-yesno-button checked={{user.perks.pets}} value=''>Do you like pets?</fsn-yesno-button>
      <fsn-yesno-button checked={{user.perks.party}} value=''>Do you party a lot?</fsn-yesno-button>
		</section> -->

    <paper-button full-width class='hidden-md-up' on-tap='saveProfile'>save your profile</paper-button>
    <paper-toast text='Your profile has been saved' duration='1500'></paper-toast>

  </template>
</dom-module>



<script>
  require('@polymer/polymer/polymer.html');

  require('@polymer/app-route/app-location.html');

  require('@polymer/paper-input/paper-input.html');
  require('@polymer/paper-input/paper-textarea.html');
  require('@polymer/paper-toast/paper-toast.html');
  require('@polymer/paper-dialog/paper-dialog.html');

  require('../fsn-datepicker-input/fsn-datepicker-input.html');
  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');
  // require('@andreasgalster/fsn-yesno-button/dist/fsn-yesno-button.html');
  require('@andreasgalster/fsn-places-autocomplete/dist/fsn-places-autocomplete.html');

  var _ = require('lodash');
  var moment = require('moment');

  Polymer({
    is: 'profile-forms',
    listeners: {
      'saveProfile': 'saveProfile',
    },
    properties: {
      user: Object
    },
    listeners: {
      'iron-overlay-closed': 'changeRoute'
    },
    attached: function() {
      Meteor.call('getOwnUserProfile', (err,res) => this.user = res );
    },
    changeRoute: function() {
      // this.fire('route-selected', {path: '/talk'});
    },
    validate: function() {
      var validity = [];

      Polymer.dom(this.root).querySelectorAll('.validate').forEach(function(paperInput) {
        paperInput.validate();
        validity.push(paperInput.invalid);
      });

      return validity;
    },
    saveProfile: function() {
      this.validate();

      if ( _.includes(this.validate(), true) === false ) {
        console.log(this.user.details.move_in_date);
        let options = {
          profile: {
            active: true,
            introduction: this.user.introduction,
            details: {
              moving_to: this.user.details.moving_to,
              maximum_budget: this.user.details.maximum_budget,
              move_in_date: this.user.details.move_in_date,
              duration_of_stay: this.user.details.duration_of_stay,
            }
          }
        };
        console.log(options);
        Meteor.call('submitProfile', options, (err, res) => this.$$('paper-toast').toggle());
      }
    }
  });

</script>
