<dom-module id='main-view'>

  <template>
    <style include='view-styles'></style>
    <style include='houseme-styles'></style>
    <style>

      :host {
        @apply(--fixed-view);
        @apply(--scroll-view);
      }

      section {
        @apply(--fill-view);
        @apply(--layout);
        @apply(--layout-center-center);
        background: white;
      }

      paper-spinner {
        width: 40px;
        height: 40px;
        --paper-spinner-layer-1-color: var(--blue);
        --paper-spinner-layer-2-color: var(--orange);
        --paper-spinner-layer-3-color: var(--blue);
        --paper-spinner-layer-4-color: var(--orange);
        --paper-spinner-stroke-width: 2px;
      }
    </style>

    <paper-header-panel mode='seamed'>
      <paper-navigation selected-page={{path}} class='paper-header'></paper-navigation>
      <div class='content'>

        <app-location route={{route}} path={{path}}></app-location>
        <app-route route={{route}} pattern='/:page'>
        </app-route>

        <!-- <fsn-meta-tags attr-for-selected="data-route" selected=[[path]]> -->
        <div>
          <fsn-meta-tag path='/' title='Finding roommates made easy - houseme (beta)' meta='{
            "description": "Are you looking for a roommate? We will help you find the perfect one!"
          }'></fsn-meta-tag>

          <fsn-meta-tag meta='{
            "property": "og:title",
            "content": "Finding roommates made easy - houseme (beta)"
          }'></fsn-meta-tag>

          <fsn-meta-tag meta='{
            "property": "og:image",
            "content": "https://www.houseme.space/img/bg1.jpg"
          }'></fsn-meta-tag>

          <fsn-meta-tag meta='{
            "property": "og:site_name",
            "content": "houseme roommate finder"
          }'></fsn-meta-tag>

          <fsn-meta-tag meta='{
            "property": "og:description",
            "content": "Are you looking for a roommate? We will help you find the perfect one!"
          }'></fsn-meta-tag>
        </div>

        <iron-lazy-pages attr-for-selected='data-route' selected=[[path]]>
          <template is='iron-lazy-page' data-route='/'>
            <signup-view></signup-view>
          </template>

          <template is='iron-lazy-page' data-route='/signup'>
            <signup-view></signup-view>
          </template>

          <template is='iron-lazy-page' data-route='/profile'>
            <profile-view></profile-view>
          </template>

          <template is='iron-lazy-page' data-route='/messages'>
            <messages-view to-user-id=[[toUserId]] message-id=[[messageId]] user-selected=[[userSelected]]></messages-view>
          </template>

          <template is='iron-lazy-page' data-route='/search'>
            <search-view></search-view>
          </template>

          <template is='iron-lazy-page' data-route='/talk'>
            <talk-view></talk-view>
          </template>

          <template is='iron-lazy-page' data-route='/analytics'>
            <analytics-view></analytics-view>
          </template>
        </iron-lazy-pages>
        <!--
        <section hidden$=[[!isLoading]]>
          <paper-spinner active=[[isLoading]]></paper-spinner>
        </section>
        -->
      </div>
    </paper-header-panel>

  </template>
</dom-module>

<script>
require('@polymer/polymer/polymer.html');
require('@polymer/paper-header-panel/paper-header-panel.html');
require('@polymer/paper-spinner/paper-spinner.html');
require('@polymer/iron-flex-layout/iron-flex-layout.html');
require('@polymer/app-route/app-route.html');
require('@polymer/app-route/app-location.html');
require('@polymer/iron-lazy-pages/iron-lazy-pages.html');

require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');
require('@andreasgalster/fsn-meta-tags/dist/fsn-meta-tag.html');

require('../components/paper-navigation/paper-navigation.html');

Polymer({
  is: 'main-view',
  properties: {
    toUserId: String,
    messageId: String,
    userSelected: Boolean
  },
  observers: [
    // '_lockScroll(isLoading)',
    '_loadViewDependency(path)'
  ],
  listeners: {
    'route-selected': 'changeRoute',
    'userid-selected': 'setUserSelected',
    'user-selected-false': 'resetUserSelected',
    'message-view-ready': 'notifyMessageView'
  },
  resetUserSelected: function() {
    console.log('re-setting user selected data');
    this.userSelected = false;
    this.toUserId = undefined;
  },
  setUserSelected: function(e) {
    console.log('setting dafuq user selected data');
    console.log(this.userSelected = true);
    console.log(e.detail);
    console.log(undefined);
    this.userSelected = true;
    this.toUserId = e.detail;
    this.messageId = undefined;
    this.notifyMessageView();
  },
  // notify the userId or otherwise binding won't update
  notifyMessageView: function() {
    this.notifyPath('userSelected', this.userSelected);
    this.notifyPath('toUserId', this.toUserId);
    this.notifyPath('messageId', this.messageId);
  },
  // takes route path where to go
  changeRoute: function(e) {
    this.path = e.detail.path;
  },
  _lockScroll: function(isLoading) {
    if (isLoading) {
      document.body.style.overflow = 'hidden';
    } else {
      document.body.style.overflow = 'visible';
    }
  },
  _loadViewDependency: function(path) {
    true || require('./signup-view.html');
    true || require('./search-view.html');
    true || require('./messages-view.html');
    true || require('./profile-view.html');
    true || require('./talk-view.html');
    true || require('./analytics-view.html');
    //
    path === '/' ? require(`/imports/ui/views/signup-view.html`) : require(`/imports/ui/views${path}-view.html`);
  }
});
</script>
