<dom-module id='messages-view'>
  <template>
    <style include='view-styles'></style>
    <style>
      :host {
        @apply(--fill-view);
      }

      paper-material {
        background: white;
      }

      .no-gutter > [class*='col-'] {
        padding-left: 0;
        padding-right: 0;
      }

      @media screen and (max-width: 768px) {
        fsn-messaging-list {
          height: 30vh !important;
        }

        fsn-messaging-chat {
          height: calc(70vh - 64px) !important;
        }
      }
    </style>
    <!--
    <h1>selected [[userSelected]]</h1>
    <h1>message [[messageId]]</h1>
    <h1>toUserId [[toUserId]]</h1>
    -->

    <paper-material class='container' elevation='3'>
  		<div class='row row-eq-height no-gutter'>
        <fsn-messaging-list class='col-xs-12 col-md-4' message-id={{messageId}} to-user-id={{toUserId}} user-selected={{userSelected}}></fsn-messaging-list>
        <fsn-messaging-chat class='col-xs-12 col-md-8' message-id=[[messageId]] to-user-id=[[toUserId]] user-selected=[[userSelected]]></fsn-messaging-chat>
      </div>
    </paper-material>

  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/paper-material/paper-material.html');

  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');
  // require('@andreasgalster/fsn-messaging-list/dist/fsn-messaging-list.html');
  // require('@andreasgalster/fsn-messaging-chat/dist/fsn-messaging-chat.html');

  require('../components/fsn-messaging-list/src/fsn-messaging-list.html');
  require('../components/fsn-messaging-chat/src/fsn-messaging-chat.html');



  Polymer({
    is: 'messages-view',
    properties: {
      toUserId: String,
      messageId: String,
      userSelected: {
        type: Boolean,
        value: false
      }
    },
    attached: function() {
      this.fire('message-view-ready');
    }
  });
</script>
