<dom-module id='search-view'>
  <template>
    <style include='view-styles'></style>
    <style>
      :host {
        @apply(--fill-view);
      }
    </style>

    <search-users></search-users>
  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/paper-dialog/paper-dialog.html');
  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');
  require('@andreasgalster/fsn-messaging-input/dist/fsn-messaging-input.html');

  require('../components/search-users/search-users.html');

  Polymer({
    is: 'search-view'
  });
</script>
