<dom-module id='user-onboarding-view'>

  <template>
    <style include='houseme-styles'></style>
    <style>

      :host {
        @apply(--fixed-view);
        @apply(--layout-vertical);
        @apply(--layout-center);
        background: var(--blue);
        z-index: 9999;
      }

      #months fsn-select-button {
        --select-button-padding: 12px 35px;
      }

      #month {
        max-width: 320px;
      }

      #month fsn-select-button {
        --select-button-padding: 12px 15px;
        width: 70px;
      }

      h3 {
        font-size: 42px;
        font-weight: 500;
        color: white;
        /*margin-bottom: 65px;*/
        margin-top: 125px;
        margin-bottom: 65px;
      }

      p {
        font-size: 20px;
        color: white;
        font-weight: 500;
        margin-right: 20px;
        margin-bottom: 0;
      }


      paper-button {
        color: white;
        background: rgba(255,255,255,0.2);
        font-size: 20px;
        padding:20px;
        font-weight: 700;
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
      }

      fsn-places-autocomplete {
        text-align: center;
        min-width: 300px;
        --paper-input-container-color: red;
      }

      #situation fsn-select-button {
        --select-button-size: 22px;
        --select-button-padding: 35px 20px;
      }

      span {
        @apply(--layout-horizontal);
        /*@apply(--layout-center);*/
        @apply(--layout-center-justified);

      }


      paper-slider {
        min-width: 500px;
        --paper-slider-container-color: rgba(0,0,0,.25);
        --paper-slider-active-color: white;
        --paper-slider-knob-color: white;
        --paper-slider-pin-color: white;
        --paper-slider-knob-start-color: white;
        --paper-slider-knob-start-border-color: white;
        --paper-slider-height: 3px;
        --paper-slider-input: {
          width: 100px;
          opacity: 0.8;
          color: pink;
          --paper-input-container-color: red;
        };
        /*
        --paper-slider-font-color	The pin's text color	#fff
        --paper-slider-pin-start-color	The color of the pin at the far left	--paper-grey-400
                */
      }

    </style>

    <user-onboarding-stepper logo='/svg/houseme_logo.svg' on-onboarding-submit='saveProfile'>
      <user-onboarding-step selected=[[apartment]] valid=[[isSelected(apartmentSelected)]] auto-confirm>
        <h3 text-center><strong>Hi Andreas,</strong><br />how can we help you?</h3>
        <fsn-select-buttons id='situation' attr-for-selected='value' selected={{apartment}} selected-item={{apartmentSelected}}>
          <fsn-select-button value='false'>I need a roommate and an apartment</fsn-select-button>
          <fsn-select-button value='true'>I have an apartment but need a roommate</fsn-select-button>
        </fsn-select-buttons>
      </user-onboarding-step>

      <user-onboarding-step valid=[[citySelected]] auto-confirm>
        <h3 text-center>Where do you want to move?</h3>
        <fsn-places-autocomplete label='Choose a city' value={{city}} valid={{citySelected}}></fsn-places-autocomplete>
      </user-onboarding-step>

      <user-onboarding-step valid=[[isSelected(monthsSelected)]] auto-confirm>
        <h3>For how many months?</h3>
        <fsn-select-buttons id='months' attr-for-selected='value' selected={{months}} selected-item={{monthsSelected}}>
          <fsn-select-button value='1'>1</fsn-select-button>
          <fsn-select-button value='2'>2</fsn-select-button>
          <fsn-select-button value='3'>3</fsn-select-button>
          <fsn-select-button value='4'>4</fsn-select-button>
          <fsn-select-button value='5'>5</fsn-select-button>
          <fsn-select-button value='6'>6</fsn-select-button>
          <fsn-select-button value='7'>7+</fsn-select-button>
        </fsn-select-buttons>
      </user-onboarding-step>

      <user-onboarding-step valid=[[isSelected(monthSelected)]] auto-confirm>
        <h3>When would you like to move in?</h3>
        <fsn-select-buttons id='month' attr-for-selected='value' selected={{month}} selected-item={{monthSelected}}>
          <fsn-select-button value='Jan'>Jan</fsn-select-button>
          <fsn-select-button value='Feb'>Feb</fsn-select-button>
          <fsn-select-button value='Mar'>Mar</fsn-select-button>
          <fsn-select-button value='Apr'>Apr</fsn-select-button>
          <fsn-select-button value='May'>May</fsn-select-button>
          <fsn-select-button value='Jun'>Jun</fsn-select-button>
          <fsn-select-button value='Jul'>Jul</fsn-select-button>
          <fsn-select-button value='Aug'>Aug</fsn-select-button>
          <fsn-select-button value='Sep'>Sep</fsn-select-button>
          <fsn-select-button value='Oct'>Oct</fsn-select-button>
          <fsn-select-button value='Nov'>Nov</fsn-select-button>
          <fsn-select-button value='Dec'>Dec</fsn-select-button>
        </fsn-select-buttons>
      </user-onboarding-step>

      <user-onboarding-step valid>
        <h3 text-center>What's your monthly rent budget?</h3>
        <paper-slider value='{{budget}}' min='1000' max='100000' step='500' snaps editable required></paper-slider>
      </user-onboarding-step>

      <user-onboarding-step next-button-text='search for roommates' valid>
        <h3 text-center><strong>You're all set up! One more thing:</strong><br />Do you want to get push notifications for updates</h3>
        <span>
          <p>Push notifications</p>
          <paper-toggle-button on-change='registerPushNotifications'></paper-toggle-button>
        </span>
      </user-onboarding-step>

    </user-onboarding-stepper>

  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/iron-icon/iron-icon.html');
  require('@polymer/paper-toggle-button/paper-toggle-button.html');
  require('@polymer/paper-slider/paper-slider.html');


  require('../components/user-onboarding-stepper/user-onboarding-stepper.html');
  require('../components/fsn-select-buttons/fsn-select-buttons.html');


  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');
  require('@andreasgalster/fsn-places-autocomplete/dist/fsn-places-autocomplete.html');

  Polymer({
    is: 'user-onboarding-view',
    properties: {
      budget: {
        type: Number,
        value: 10000
      },
      months: {
        type: String,
        value: undefined
      }
    },
    validateCity: function() {
      console.log('city has been selected');
    },
    isSelected: function(selectedItem) {
      return selectedItem != undefined;
    },
    registerPushNotifications: function(e) {
      if(e.target.checked) {
        console.log('register for notification');
        // push notification stuff here
        window.OneSignal.push(['registerForPushNotifications']);
      }
    },
    confirmStep: function() {
      this.$$('user-onboarding-stepper').confirmStep();
    },
    saveProfile: function() {
      // console.log('saving profile');
      let options = {
        profile: {
          active: true,
          logged_in: true,
          details: {
            has_apartment: this.apartment === 'true',
            moving_to: this.city,
            maximum_budget: this.budget,
            move_in_date: this.month,
            duration_of_stay: this.months,
          }
        }
      };
      // console.log(options);
      Meteor.call('submitProfile', options, (err, res) => this.fire('route-selected', {path: '/search'}));
    }
  });
</script>
