<dom-module id='fsn-datepicker-input'>
  <template>
    <style include='houseme-styles'></style>
    <style>
      section {
        background: var(--blue);
        padding: 15px;
        margin: 8px;
        color: white;
        border-radius: 3px;
        width: 65px;
        text-align: center;
        cursor: pointer;
      }

      paper-dialog {
        /*width: 100%;*/
        max-width: 300px;
      }

      .iron-selected {
        background: var(--orange);
        /*background-image: linear-gradient(rgba(0, 0, 0,.1), rgba(0, 0, 0,.1));*/
      }

      iron-selector {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
      }

      .content {
        padding: 24px;
        margin: 0;
      }

      h2 {
        padding: 20px 30px;
      }
    </style>

    <paper-input
      value={{value}}
      class='validate'
      invalid={{invalid}}
      label='Move in date'
      placeholder='When do you want to move in?'
      required
      on-focus='toggle'>
    </paper-input>

    <paper-dialog with-backdrop on-iron-overlay-closed='resetFocus'>
      <h2>Choose a month</h2>

      <div class='content'>
        <iron-selector attr-for-selected='name' selected={{selected}}>
          <section name='Jan'>Jan</section>
          <section name='Feb'>Feb</section>
          <section name='Mar'>Mar</section>

          <section name='Apr'>Apr</section>
          <section name='May'>May</section>
          <section name='Jun'>Jun</section>

          <section name='Jul'>Jul</section>
          <section name='Aug'>Aug</section>
          <section name='Sep'>Sep</section>

          <section name='Oct'>Oct</section>
          <section name='Nov'>Nov</section>
          <section name='Dec'>Dec</section>
        </iron-selector>
      </div>
      <div class='buttons'>
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm on-tap='setValue'>Accept</paper-button>
      </div>
    </paper-dialog>


  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');

  require('@polymer/iron-selector/iron-selector.html');
  require('@polymer/iron-flex-layout/iron-flex-layout.html');

  require('@polymer/paper-input/paper-input.html');
  require('@polymer/paper-dialog/paper-dialog.html');

  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');




  Polymer({
    is: 'fsn-datepicker-input',

    properties: {
      value: {
        type: String,
        notify: true,
        observer: 'updateValue'
      },
      focused: {
        type: Boolean,
        value: false
      }
    },

    updateValue: function() {
      this.selected = this.value;
    },

    setValue: function() {
      this.value = this.selected;
      this.focused = false;
    },

    resetFocus: function() {
      this.focused = false;
      console.log('focus reset');
    },

    toggle: function() {
      console.log('toggled');
      if(!this.focused) {
        this.$$('paper-dialog').toggle();
      }
      this.focused = true;
    },

    validate: function() {
      this.$$('paper-input').validate();
    },

  });
</script>
