<dom-module id='search-users'>
  <template>
  <style include='view-styles'></style>
  <style include='houseme-styles'></style>

  <style>
      :host {
        display: block;
      }

      iron-scroll-threshold, iron-list {
        @apply(--layout-fit);
      }

      .container {
        @apply(--layout-vertical);
      }

      paper-card:before {
        content: '';
        @apply(--layout-fit);
        background: rgba(0,0,0,0.7);
        z-index: 1;
      }

      iron-icon:nth-child(1), iron-icon:nth-child(2){
        padding: 2%;
      }

      section {
        @apply(--layout-fit);
        @apply(--layout-vertical);
        padding: 10px;
        margin: 0;
        background: none;
        z-index: 3;
        opacity: 0;
        background: rgba(12,138,235,0.8);
        transition: opacity .1s ease-in-out;

      }

      span {
        @apply(--layout-flex);
      }

      paper-button {
        width: auto;
        background: white !important;
        color: black;
      }

      table {
        color: white;
      }

      tr {
        border-bottom: 7px solid transparent;
      }

      iron-list {
        background: black;
        --iron-list-items-container: {
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
        }
      }

      td:first-child {
        border-right: 7px solid transparent;
      }

      paper-card {
        --paper-card-header-color: white;
        --paper-card-header-text: {
          z-index: 2;
        };
      }

      paper-card:hover > section {
        opacity: 1;
      }

      @media screen and (min-width: 1px) and (max-width: 500px) {
        paper-card {
          width: 100vw;
          height: 100vw;
        }
      }

      @media screen and (min-width: 401px) and (max-width: 800px) {
        paper-card {
          width: 50vw;
          height: 50vw;
        }
      }


      @media screen and (min-width: 801px) and (max-width: 1200px) {
        paper-card {
          width: 33.33vw;
          height: 33.33vw;
        }
      }

      @media screen and (min-width: 1201px) and (max-width: 1700px) {
        paper-card {
          width: 25vw;
          height: 25vw;
        }
      }


      @media screen and (min-width: 1701px) and (max-width: 3000px) {
        paper-card {
          width: 20vw;
          height: 20vw;
        }
      }

      paper-card {
        --paper-card-header-image: {
          width: 100%;
          padding-bottom: 100%;
        }
      }
    </style>

    <iron-media-query query='(min-width: 600px)' query-matches='{{queryMatches}}'></iron-media-query>

    <div hidden$=[[loggedIn]] class='warning layout center'>
      <hero1>Please <a href='/signup'>log in or sign up</a> to start looking for roommates.</hero1>
    </div>

    <div hidden$=[[!loggedIn]]>
      <div hidden$=[[user.profile.active]] class='warning layout center'>
        <hero1>Please fill in <a href='/profile'>your profile</a> to start looking for people.</hero1>
      </div>
    </div>

    <template is='dom-if' if=[[user.profile.active]]>

      <iron-scroll-threshold on-lower-threshold='loadMoreData' id='threshold'>
        <iron-list grid items=[[users]]>
          <template>

            <paper-card
            fade-image
            preload-image
            sizing-image='cover'
            image='https://graph.facebook.com/[[item.services.facebook.id]]/picture?width=400'
            placeholder-image='https://graph.facebook.com/[[item.services.facebook.id]]/picture?width=1'
            heading=[[item.services.facebook.first_name]]>

            <section>
                <table>
                  <tr>
                    <td>
                      <iron-icon icon='fsn:location'></iron-icon>Moving to:
                    </td>
                    <td>
                      [[item.profile.details.moving_to]]
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <iron-icon icon='fsn:date'></iron-icon>Moving in:
                    </td>
                    <td>
                      [[item.profile.details.move_in_date]]
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <iron-icon icon='fsn:duration'></iron-icon>How long:
                    </td>
                    <td>
                      [[item.profile.details.duration_of_stay]] months
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <iron-icon icon='fsn:budget'></iron-icon>Monthly budget:
                    </td>
                    <td>
                      [[item.profile.details.maximum_budget]] ₱
                    </td>
                  </tr>
                </table>

                <span></span>

                <paper-button whitebg pdLarge on-tap='sendMessage'>send a message</paper-button>
              </section>
            </paper-card>

          </template>
        </iron-list>
      </iron-scroll-threshold>
    </template>

  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/app-route/app-location.html');

  require('@polymer/iron-list/iron-list.html');
  require('@polymer/iron-icon/iron-icon.html');
  require('@polymer/iron-scroll-threshold/iron-scroll-threshold.html');
  require('@polymer/iron-flex-layout/iron-flex-layout.html');

  require('@polymer/paper-button/paper-button.html');
  require('@polymer/paper-card/paper-card.html');
  require('@polymer/paper-dialog/paper-dialog.html');


  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');
  require('@andreasgalster/fsn-icons/dist/fsn-icons.html');

  Polymer({
    is: 'search-users',
    properties: {
      otherUserId: {
        type: String,
        notify: true,
      },
      user: {
        type: Object
      },
      users: {
        type: Array,
        observer: 'clearScroll'
      },
      loggedIn: {
        type: Boolean
      },
      limiter: {
        type: Number,
        value: 12,
        observer: 'subscribeData'
      }
    },
    behaviors:[mwcMixin],

    // Subscribe to data. Once data is ready, set dynamic meta tags
    subscribeData: function() {
      this.subscribe('usersTeaser', this.limiter);
    },
    clearScroll: function() {
      if(this.$$('iron-scroll-threshold')) {
        this.$$('iron-scroll-threshold').clearTriggers();
      }
    },
    loadMoreData: function() {
      this.limiter += 6;
    },
    tracker: function() {
      var user = Meteor.user();
      this.user = user;
      this.loggedIn = (user != null);
      this.users = Meteor.users.find({_id: {$ne: Meteor.userId()} }).fetch();
    },
    sendMessage: function(e) {
      this.fire('userid-selected', e.model.item._id);
      this.fire('route-selected', {path: '/messages'});
    },

  });

</script>
