<dom-module id='user-onboarding-step'>

  <template>
    <style include='houseme-styles'></style>
    <style>

      :host {
        @apply(--layout-vertical);
        @apply(--layout-center);
      }

      div {
        @apply(--layout-horizontal);
        @apply(--layout-center);
        margin-top:50px;
      }

    </style>

    <content select='*'></content>


    <!-- <div hidden$=[[isNotSelected(selected)]]> -->
    <div hidden$=[[!valid]]>
      <!-- <paper-button on-tap='previousStep' hidden$=[[isFirstStep(selected)]]>[[backButtonText]]</paper-button> -->
      <paper-button on-tap='confirmStep' hidden$=[[!isStepFilledOut]]>[[nextButtonText]]</paper-button>
    </div>


  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/neon-animation/web-animations.html');
  require('@polymer/neon-animation/neon-animatable-behavior.html');

  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');

  Polymer({
    is: 'user-onboarding-step',
    properties: {
      selected: {
        type: String,
        value: undefined
      },
      valid: {
        type: Boolean,
        value: false,
        observer: 'fireValid'
      },
      nextButtonText: {
        type: String,
        value: 'next'
      },
      backButtonText: {
        type: String,
        value: 'back'
      },
      autoConfirm: {
        type: Boolean,
        value: false
      }
    },
    behaviors: [
      Polymer.NeonAnimatableBehavior
    ],
    previousStep: function() {
      this.fire('previous-step');
    },
    confirmStep: function() {
      this.fire('confirm-step');
    },
    isNotSelected: function(selected) {
      return selected == undefined;
    },
    fireValid: function() {
      this.fire('valid-changed');
    }
  });


</script>
