<dom-module id='user-onboarding-step'>

  <template>
    <style include='houseme-styles'></style>
    <style>

      :host {
        @apply(--layout-vertical);
        @apply(--layout-center);
      }

    </style>

    <content select='*'></content>

    <paper-button on-tap='previousStep'>[[backButtonText]]</paper-button>
    <paper-button on-tap='confirmStep'>[[nextButtonText]]</paper-button>

  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/neon-animation/web-animations.html');
  require('@polymer/neon-animation/neon-animatable-behavior.html');

  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');

  Polymer({
    is: 'user-onboarding-step',
    properties: {
      backButtonText: {
        type: String,
        value: 'back'
      },
      nextButtonText: {
        type: String,
        value: 'next'
      },
    },
    behaviors: [
      Polymer.NeonAnimatableBehavior
    ],
    listeners: {
      // this event is fired when the animation finishes
      'neon-animation-finish': '_onNeonAnimationFinish'
    },
    _onNeonAnimationFinish: function() {
      console.log('animation done!');
    },
    previousStep: function() {
      this.fire('previous-step');
    },
    confirmStep: function() {
      this.fire('confirm-step');
    }
  });


</script>
