<dom-module id='user-onboarding-stepper'>

  <template>
    <style include='houseme-styles'></style>
    <style>

      :host {
        @apply(--layout-vertical);
        @apply(--layout-center);
        width: 100%;
      }

      iron-image {
        max-width: var(--onboarding-logo-max-width, 175px);
        width: var(--onboarding-logo-width, 175px);
        height: 100px;
      }

      neon-animated-pages {
        width: 100%;
        height: 400px;
      }

      circle {
        border:2px solid white;
        border-radius: 50%;
        width: 10px;
        height:10px;
        display: inline-block;
        margin: 0 15px;
      }

      circle.iron-selected {
        background: white;
      }

      div {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        @apply(--layout-center);
      }
    </style>

    <iron-image src=[[logo]] sizing='contain'></iron-image>

    <neon-animated-pages selected=[[selected]] entry-animation='fade-in-animation' exit-animation='fade-out-animation'>
      <content id='steps' select='*'></content>
    </neon-animated-pages>


    <div>
      <paper-button on-tap='previousStep' hidden$=[[isFirstStep(selected)]]>[[backButtonText]]</paper-button>
      <iron-selector selected=[[selected]]>
        <template is='dom-repeat' items=[[stepsArray]]>
          <circle></circle>
        </template>
      </iron-selector>
      <paper-button on-tap='confirmStep'>[[nextButtonText]]</paper-button>
    </div>

    <!-- <paper-button>back</paper-button> -->
    <!-- <paper-button on-tap='confirmStep'>next</paper-button> -->

  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/iron-selector/iron-selector.html');
  require('@polymer/iron-image/iron-image.html');
  require('@polymer/neon-animation/web-animations.html');
  require('@polymer/neon-animation/neon-animated-pages.html');
  require('@polymer/neon-animation/animations/fade-in-animation.html');
  require('@polymer/neon-animation/animations/fade-out-animation.html');

  require('./user-onboarding-step.html');

  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');

  Polymer({
    is: 'user-onboarding-stepper',
    properties: {
      selected: {
        type: Number,
        value: 0
      },
      backButtonText: {
        type: String,
        value: 'back'
      },
      nextButtonText: {
        type: String,
        value: 'next'
      }
    },
    observers: {
      'selected': 'confirmStep'
    },
    listeners: {
      'previous-step': 'previousStep',
      'confirm-step': 'confirmStep'
    },
    attached: function() {
      this.getChildren();
    },
    getChildren: function() {
      var children = this.getContentChildren('#steps');
      this.stepsLength = children.length;
      this.stepsArray = children;
    },
    confirmStep: function() {
      console.log(this.selected);
      console.log(this.stepsLength);
      if(this.selected < (this.stepsLength -1)) {
        this.selected = this.selected + 1;
        console.log(this.selected);
      }

    },
    previousStep: function() {
      if(this.selected > 0)
        this.selected = this.selected - 1;
    },
    isFirstStep: function(selected) {
      return selected == 0;
    }
  });
</script>
