<dom-module id='cloudinary-upload'>

  <template>
    <style include='houseme-styles'></style>
    <style>
      iron-image {
        width: 200px;
        padding-bottom: 6%;
        background-color: gray;
      }

      label {
        width: 200px;
        padding-bottom: 3%;
        margin: 0;
      }

      input {
        display: none;
      }
    </style>

    <iron-image sizing='cover' preload fade src='https://res.cloudinary.com/pigments/image/upload/w_150,h_90,c_fill,q_70/{{item.downloadurl}}.jpg'></iron-image>
    <label for='image'>
      <input id='image' on-change='uploadImage' type='file' accept='.png, .gif, .jpg, .jpeg'>
    </label>

  </template>

</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/iron-image/iron-image.html');

  require('@andreasgalster/fsn-boilerplate/fsn-boilerplate.html');

  require('lodash/lodash.js');
  require('cloudinary-core/cloudinary-core.js');

  Polymer({

    is: 'cloudinary-upload',

    properties: {

      imagesAvailable: Boolean,
      limiter: {
        type: String,
        value: 1,
        reflectToAttribute: true
      },
      valid: Boolean,
    },

    uploadImage: function(e) {
      let file = e.currentTarget.files;

      cloudinary.v2.uploader.upload(file, {
        folder: 'vendor_images',
      }, (err, res) => {
        if(err) {
          console.log('Upload Error: ' + err);
        } else { }
      });

    },

    ////////////////////////////////////////////////////////////
    // config/initiate cloudinary and set collection variable //
    ////////////////////////////////////////////////////////////
    attached: function() {
      var clConfig = cloudinary.Cloudinary.new();
      clConfig.config('cloud_name', Meteor.settings.public.cloudinary.cloud_name);
    },

  });

</script>
