<dom-module id='cloudinary-upload'>
  <template>
    <style include='houseme-styles'></style>
    <style>
      iron-image {
        width: 200px;
        padding-bottom: 6%;
        background-color: gray;
      }

      label {
        width: 200px;
        padding-bottom: 3%;
        margin: 0;
      }

      input {
        display: none;
      }
    </style>

    <iron-image
      sizing='cover'
      preload
      fade
      src='https://res.cloudinary.com/pigments/image/upload/w_150,h_90,c_fill,q_70/{{item.downloadurl}}.jpg'>
    </iron-image>

    <label for='image'>
      <input id='image' on-change='uploadImage' type='file' accept='.png, .gif, .jpg, .jpeg'>
    </label>

  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/iron-image/iron-image.html');

  require('@andreasgalster/fsn-boilerplate/fsn-boilerplate.html');

  Polymer({
    is: 'cloudinary-upload',
    properties: {
      imagesAvailable: Boolean,
      valid: Boolean,
      imageId: String,
      baseUrl: {
        type: String,
        value: `https://res.cloudinary.com/${Meteor.settings.public.cloudinary.cloud_name}/image/upload/`
      }
    },
    uploadImage: function(e) {
      let file = e.currentTarget.files;
      Meteor.call('upload', file, (err, res) => {
        if(err) {
          return;
        } else {
          this.imageId = res;
          this.valid = true;
        }
      });
    },
    imageUrl: function() {
      return
      this.imageId ?
      `${this.baseUrl}w_150,h_90,c_fill,q_70/${this.ImageId}` :
      `${this.baseUrl}w_150,h_90,c_fill,q_70/yolo`;
    }

  });

</script>
