<link rel="import" href="../../bower/polymer/polymer.html">
<link rel="import" href="../../bower/paper-input/paper-input.html">
<link rel="import" href="../../bower/gold-email-input/gold-email-input.html">

<link rel="import" href="../../bower/meteor-elements/meteor-user.html">



<link rel="import" href="../../bower/paper-dialog/paper-dialog.html">


<link rel="import" href="../../bower/paper-button/paper-button.html">
<link rel="import" href="../../bower/paper-toast/paper-toast.html">
<link rel="import" href="../../bower/paper-spinner/paper-spinner.html">


<link rel="import" href="../../bower/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower/iron-icon/iron-icon.html">
<link rel="import" href="../../custom-icons.html">


<dom-module id="login-form">

  <template>
    <style is="custom-style" include="iron-positioning iron-flex-alignment iron-flex"></style>
    <style>
      :host {
        background: white;
        padding: 10px;
        margin:0;
        display: block;
      }

      h1 {
        text-align: center;
        color: white;
        background-color: var(--grey-darker, #384555);
        margin: -10px;
        margin-top: -10px !important;
        font-weight: 300;
        font-size: 31px;
        text-transform: uppercase;
        margin-bottom: 43px;
        padding: 24px;
      }

      h2, h3 {
        color: var(--blue, #3896ed);
        font-size:18px;
        margin: 0;
        margin-top: -3px;
      }

      h2 {
        margin-top: -15px;
      }

      paper-input, gold-email-input {
        margin-bottom: 30px;
      }

      section paper-button {
        background: var(--confirm, #1ee01f);
        width: 100%;
        font-weight: 900;
        color: white;
        margin: 0;
        margin-bottom: 20px;
      }

      section#logged_in {
        background: var(--grey-darker, #384555);
        margin: -30px;
        padding: 20px;
      }

      footer {
        color: black;
      }

      footer span {
        color: var(--blue, #3896ed);
        font-weight: 500;
        cursor: pointer;
      }

      #logout {
        font-weight: bold;
        cursor: pointer;
        color: white;
      }

      paper-toast paper-button {
        color: var(--pigments-green-500);
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      paper-spinner {
        --paper-spinner-layer-1-color: var(--pigments-blue-500);
        --paper-spinner-layer-2-color: var(--pigments-blue-500);
        --paper-spinner-layer-3-color: var(--pigments-blue-500);
        --paper-spinner-layer-4-color: var(--pigments-blue-500);


        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
      }

    </style>


    <meteor-user logged-in={{loggedIn}} user={{user}}></meteor-user>


    <paper-toast class='fixed-bottom' duration="7000">
      <paper-button no-ink on-tap="close">Close</paper-button>
    </paper-toast>

    <template is="dom-if" if="{{modal}}">
      <paper-dialog with-backdrop always-on-top>
        <template is="dom-if" if="{{loggedIn}}">
          <section id='logged_in'>
              <h1>You are logged in</h1>
              <a href='/account'><paper-button>Visit your account</paper-button></a>
              <a href='/projects'><paper-button>Visit your projects</paper-button></a>
              <span id='logout' on-tap='logout'>Logout from your account</span>
          </section>
        </template>

        <template is="dom-if" if="{{!loggedIn}}">
          <section>
            <!-- <paper-spinner active></paper-spinner> -->

            <form>
              <template is="dom-if" if="{{alreadyMember}}">
                <h1>Login as a user</h1>
              </template>

              <template is="dom-if" if="{{!alreadyMember}}">
                <h1>Sign up as a user</h1>
              </template>

              <h2>What's your e-mail?</h2>
              <gold-email-input
                class='validate'
                no-label-float
                required
                auto-validate
                label="Your e-mail address"
                error-message="This doesn't look like an e-mail address."
                value='{{email}}'>
              </gold-email-input>

              <h2>Tell us a secret!</h2>
              <paper-input
                class='validate'
                no-label-float
                required
                auto-validate
                minlength="6"
                name="registerPassword"
                label="Your password"
                type='password'
                error-message="Looks like the password is shorter than 6 characters."
                value='{{password}}'>
                <iron-icon hidden$='{{visiblePassword}}' on-tap='showPassword' suffix icon="pigments:visibility"></iron-icon>
                <iron-icon hidden$='{{!visiblePassword}}' on-tap='hidePassword' suffix icon="pigments:visibility-off"></iron-icon>
              </paper-input>

              <template is="dom-if" if="{{alreadyMember}}">
                <paper-button on-tap='loginUser'>Login</paper-button>
                <footer>Not a member? <span on-tap='setAlreadyMember'>Register here.</span></footer>
              </template>

              <template is="dom-if" if="{{!alreadyMember}}">
                <paper-button on-tap='signupUser'>Sign up</paper-button>
                <footer>Already a member? <span on-tap='setAlreadyMember'>Login here.</span></footer>
              </template>

             </form>
          </section>
        </template>
      </paper-dialog>
    </template>

  </template>

</dom-module>
