<dom-module id='paper-navigation'>

  <template>
    <style include='houseme-styles'></style>
    <style>

      paper-badge {
          --paper-badge-margin-left: -24px;
          --paper-badge-margin-bottom: -12px;
      }

      #houseme_logo {
        height: 80%;
        margin-bottom: 3px;
      }

      #houseme_logo img {
        height: 100%;
      }

      paper-button {
        background: var(--orange);
        min-width: 0;
      }

      @media screen and (min-width: 600px) {
        iron-icon {
          margin-right: 8px;
        }

        paper-tab {
          margin: 0 12px;
          --paper-tab-content-unselected: {
            opacity: 0.4;
          }
        }
      }

      paper-toolbar {
        background: var(--blue);
        z-index: 10;
        @apply(--layout-vertical);
      }

      paper-toolbar span {
        @apply(--layout-flex);
      }

      nav {
        @apply(--layout-horizontal);
      }


      h6 {
        font-weight: bold;
        margin-bottom: 30px;
      }

    </style>

    <paper-toolbar hidden$=[[!loggedIn]]>
        <a id='houseme_logo' href='/'>
          <img src='/svg/houseme_logo.svg' id='houseme_logo' />
        </a>

        <h6>BETA</h6>

        <span></span>

        <nav>
            <paper-tabs selected={{selectedPage}} attr-for-selected='selected-page' no-bar>
              <paper-tab selected-page='/search'>
                <iron-icon hide-sm icon='fsn:search'></iron-icon>
                <div hide-xs>Search</div>
              </paper-tab>

              <paper-tab selected-page='/talk'>
                <iron-icon hide-sm icon='fsn:talk'></iron-icon>
                <div hide-xs>Townhall</div>
              </paper-tab>

              <paper-tab selected-page='/messages'>
                <iron-icon hide-sm icon='fsn:messages'></iron-icon>
                <div hide-xs>Messages</div>
                <template is='dom-if' if=[[hasNewConversations]]>
                  <paper-badge label=[[newConversationsLength]]></paper-badge>
                </template>
              </paper-tab>

              <paper-tab selected-page='/profile'>
                <iron-icon hide-sm icon='fsn:profile'></iron-icon>
                <div hide-xs>Profile</div>
              </paper-tab>
            </paper-tabs>
        </nav>
    </paper-toolbar>

  </template>

</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@polymer/iron-icon/iron-icon.html');
  require('@polymer/paper-button/paper-button.html');
  require('@polymer/paper-tabs/paper-tabs.html');
  require('@polymer/iron-flex-layout/iron-flex-layout.html');
  require('@polymer/iron-media-query/iron-media-query.html');
  require('@polymer/paper-toolbar/paper-toolbar.html');
  require('@polymer/paper-badge/paper-badge.html');



  require('@andreasgalster/fsn-boilerplate/dist/fsn-boilerplate.html');
  require('@andreasgalster/fsn-icons/dist/fsn-icons.html');

  Polymer({
    is: 'paper-navigation',
    behaviors:[mwcMixin],
    properties: {
      user: {
        type: Object
      },
      loggedIn: {
        type: Boolean
      },
      selectedPage: {
        type: String,
        notify: true
      }
    },
    attached: function() {
      this.subscribe('PrivateMessagesList');
    },
    tracker: function() {
      this.loggedIn = (Meteor.user() != null);
      this.hasNewConversations = PrivateMessagesList.find({messages_read: true}).fetch().length > 0;
      this.newConversationsLength = PrivateMessagesList.find({messages_read: true}).fetch().length;
    },
  });
</script>
